vuelo, numVol, avion, ruta, fechaSalida, mando, capitan, copiloto, tripulacion, auxiliar, jefeCabina, hostessa {
    display: block;
    align-self: center;
}

numVol:before{
    content: 'Vuelo número';
    font-weight: bold;
}

numVol:after{
    content: 'Número de pasajeros: ' attr(pasajeros);
    font-size: 15px;
}
numVol {
    font-size: 30px;
    padding-left: 10px;
    background-color: #2d2d2a;
    border-radius: 2px;
    color: #dff8eb;
}

avion:before{
    content: 'Nombre del Avión:';
}

avion {
    font-size: 20px;
    padding-left: 20px;
    background-color: #38423b;
    color: #dff8eb;
}

origen:before{
    content: 'De ';
    padding-left: 25px;
    font-weight: normal;
}
origen:after{
    content: ' a ';
    font-weight: normal;
}

origen, destino{
    font-size: 18px;
    font-weight: bold;
}

fechaSalida:before{
    content: 'Fecha de salida:';
    padding-left: 25px;
    font-size: 18px;
    font-weight: normal;
}

fechaSalida{
    font-size: 20px;
    font-weight: bold;
}

mando::before{
    content: 'Piloto y copiloto:';
    font-size: 15px;
    padding-left: 25px;
}

tripulacion::before{
    content: 'Tripulación a bordo:';
    font-size: 15px;
    padding-left: 25px;
}

jefeCabina::before{
    content: 'Jefe de cabina:';
    font-weight: bold;
}
auxiliar::before{
    content: 'Auxiliar:';
    font-weight: bold;
}
hostessa::before{
    content: 'Azafato/a:';
    font-weight: bold;
}

capitan, copiloto, auxiliar, hostessa, jefeCabina{
    display: list-item;
    list-style: disc inside;  
    margin-left: 50px;
    font-size: 15px;
}

vuelo{
    background-color: whitesmoke;
    padding-bottom: 20px;
    border-top: 3px ridge #12100e;
}
