<header class="pageHeader"> 
    <img src="imgs/icon.png" alt="Logo La Ferreria">
    INS La Ferreria: <subtitl> Creant Futur </subtitl>
</header>
<nav class="mainNav">
    <p> El centre </p>
    <a href="index.html"> HOME </a> <br>
    <a href="history.html"> HISTÒRIA </a> <br>
    <a href="onsom.html"> ON SOM </a> <br>
    <a href="qualitat.html"> POLÍTICA DE QUALITAT </a> <br>
    <a href="instal.html"> INSTAL·LACIONS </a> <br>
    <h3>Informació de contacte </h3>
    Si tens alguna pregunta no dubtis en contactar amb nosaltres
    a: <br>
    El teléfon: 93 575 21 84 <br>
    O a <a href="mailto:insferreria@protonmail.ch">l'adreça de correu electroinc</a>
    del centre 
</nav>
<div class="siteAds">
    <P> Enllaços d'interés </P>
    <a href="http://cursos.inslaferreria.net/"><img src="imgs/moodlelogo.png" alt="Moodle"></a>
    <a href="http://insferreria.ieduca.com/"><img src="imgs/ieducalogopng.png" alt="Moodle"></a>
</div>

