/* Rejilla principal */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #DCD0D9;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav article ads";
    grid-template-rows: 20% 1fr;
    grid-template-columns: 20% 1fr 10%;
    height: 100vh;
    row-gap: 0.5%;
    column-gap: 1%;
}

img {
    width: 10%;
    height: auto;
}

nav{
    color: #373737;
    border-radius: 20px;
    background-color: #DCD0C0;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    align-self: flex-start;
    padding-bottom: 10%;
}

nav p{
    font-size: 100%;
    text-decoration: underline;
    text-emphasis: bold;
}

header {
    background-color: #DCD0C0;
    text-align: left;
    font-size: 500%;
    color: #373737;
    border-radius: 15px;
    padding: 2%;
    text-emphasis: bold;
}

header subtitl {
    text-align: left;
    color: #373730;
    font-size: 50%;
}

header img {
    width: 9%;
    height: auto;
}

div {
    color: #373737;
    border-radius: 20px;
    background-color: #DCD0C0;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    align-self: flex-start;
    padding-bottom: 10%;
}

div p{
    font-size: 150%;
    text-decoration: underline;
    text-emphasis: bold;
}

div img{
    height: auto;
    width: 75%;
    padding-top: 2%;
}

.articulo {
    background-color:#d3cbc0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.articulo img {
    height: auto;
    width: 100%;
    padding-top: 2%;
}

.articulo date{
    font-size: 10px;
    float: right;
}

.pageHeader {
    grid-area: header;
}

.mainArticle { 
    grid-area: article;      
}

.mainNav { 
    grid-area: nav; 
}

.siteAds { 
    grid-area: ads; 
}