nomMonitor, sueldo{
    display: block;
    padding-left: 4%;
    padding-right: 4%;
    border: black 1pt solid;
}

Monitor{
    padding-top: 10px;
    display: block;
    padding-left: 4%;
    padding-right: 4%;
}

nomMonitor::before{
    content: 'Monito: ';
    color: red;
    font-weight: bold;
}

nomMonitor{
    text-align: center;
    background-color: #a7d0a4;
    border-radius: 2px;
    color: black;
    padding: 2px;
}

sueldo::before{
    content: 'Sueldo = ';
}

sueldo::after{
    content: ' ' attr(moneda) 's';
}

sueldo{
    padding-left: 1%;
    background-color: #528238;
}

especilidad{
    display: inline-block;
    border: black 1pt solid;
}

especilidad::before{
    content: 'Especialidad: ';
    font-weight: bold;

}